In [1]:
#Importar librerias.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
#Cargar los datos obtenidos de NodosP provenientes del Centro Nacional de Control de Energía. 
df=pd.read_csv("/home/jovyan/Tesis/NodoF_csv.csv")
df

            Fecha  Hora  Precio marginal local ($/MWh)
0      01/04/2017   1.0                        1519.48
1      01/04/2017   2.0                        1419.61
2      01/04/2017   3.0                         992.41
3      01/04/2017   4.0                         961.41
4      01/04/2017   5.0                         945.04
...           ...   ...                            ...
68626  30/09/2024  20.0                         525.30
68627  30/09/2024  21.0                         516.92
68628  30/09/2024  22.0                         515.25
68629  30/09/2024  23.0                         514.44
68630  30/09/2024  24.0                         499.83

[68631 rows x 3 columns]

In [3]:
#Transformar la fecha a caracteres válidos para su lectura en pandas.
df['Fecha'] = pd.to_datetime(df['Fecha'], format="%d/%m/%Y")

In [4]:
#Organizar la base de datos por fecha y de manera ascendente y eliminar las columnas con datos inválidos.
df2 = df.sort_values(by="Fecha")
df2 = df2.dropna()

In [5]:
#Convertir la columna de "Fecha" en el índice y posteriormente eliminar la columna Date.
df2.index=df2.Fecha
df2=df2.drop('Fecha',axis=1)

In [6]:
#Seleccionar los datos ubicados en el periodo de interés.
df2= df2[(df2["Hora"] >= 7) & (df2["Hora"] <= 18)]

In [7]:
#Generar slices para cada mes de todos los años.
df_ene=df2.loc[df2.index.month==1]
df_feb=df2.loc[df2.index.month==2]
df_mar=df2.loc[df2.index.month==3]
df_abr=df2.loc[df2.index.month==4]
df_may=df2.loc[df2.index.month==5]
df_jun=df2.loc[df2.index.month==6]
df_jul=df2.loc[df2.index.month==7]
df_ago=df2.loc[df2.index.month==8]
df_sep=df2.loc[df2.index.month==9]
df_oct=df2.loc[df2.index.month==10]
df_nov=df2.loc[df2.index.month==11]
df_dic=df2.loc[df2.index.month==12]

In [8]:
#De los slices anteriores, seleccionar únicamente los valores de la columna "Precio marginal local ($/MWh) por mes. 
ene=np.array(df_ene.iloc[:,1])
feb=np.array(df_feb.iloc[:,1])
mar=np.array(df_mar.iloc[:,1])
abr=np.array(df_abr.iloc[:,1])
may=np.array(df_may.iloc[:,1])
jun=np.array(df_jun.iloc[:,1])
jul=np.array(df_jul.iloc[:,1])
ago=np.array(df_ago.iloc[:,1])
sep=np.array(df_sep.iloc[:,1])
oct=np.array(df_oct.iloc[:,1])
nov=np.array(df_nov.iloc[:,1])
dic=np.array(df_dic.iloc[:,1])

In [9]:
#Obtener los cuantiles de cada mes por separado.
q1ene = np.quantile(ene[ene > 0], 0.25)
q2ene = np.quantile(ene[ene > 0], 0.5)
q3ene = np.quantile(ene[ene > 0], 0.75)

q1feb = np.quantile(feb[feb > 0], 0.25)
q2feb = np.quantile(feb[feb > 0], 0.5)
q3feb = np.quantile(feb[feb > 0], 0.75)

q1mar = np.quantile(mar[mar > 0], 0.25)
q2mar = np.quantile(mar[mar > 0], 0.5)
q3mar = np.quantile(mar[mar > 0], 0.75)

q1abr = np.quantile(abr[abr > 0], 0.25)
q2abr = np.quantile(abr[abr > 0], 0.5)
q3abr = np.quantile(abr[abr > 0], 0.75)

q1may = np.quantile(may[may > 0], 0.25)
q2may = np.quantile(may[may > 0], 0.5)
q3may = np.quantile(may[may > 0], 0.75)

q1jun = np.quantile(jun[jun > 0], 0.25)
q2jun = np.quantile(jun[jun > 0], 0.5)
q3jun = np.quantile(jun[jun > 0], 0.75)

q1jul = np.quantile(jul[jul > 0], 0.25)
q2jul = np.quantile(jul[jul > 0], 0.5)
q3jul = np.quantile(jul[jul > 0], 0.75)

q1ago = np.quantile(ago[ago > 0], 0.25)
q2ago = np.quantile(ago[ago > 0], 0.5)
q3ago = np.quantile(ago[ago > 0], 0.75)

q1sep = np.quantile(sep[sep > 0], 0.25)
q2sep = np.quantile(sep[sep > 0], 0.5)
q3sep = np.quantile(sep[sep > 0], 0.75)

q1oct = np.quantile(oct[oct > 0], 0.25)
q2oct = np.quantile(oct[oct > 0], 0.5)
q3oct = np.quantile(oct[oct > 0], 0.75)

q1nov = np.quantile(nov[nov > 0], 0.25)
q2nov = np.quantile(nov[nov > 0], 0.5)
q3nov = np.quantile(nov[nov > 0], 0.75)

q1dic = np.quantile(dic[dic > 0], 0.25)
q2dic = np.quantile(dic[dic > 0], 0.5)
q3dic = np.quantile(dic[dic > 0], 0.75)

In [12]:
#Separar en una variable los Q1, en otra los Q2 y en otra los Q3.
q1f=np.array([q1ene,q1feb,q1mar,q1abr,q1may,q1jun,q1jul,q1ago,q1sep,q1oct,q1nov,q1dic])
q2f=np.array([q2ene,q2feb,q2mar,q2abr,q2may,q2jun,q2jul,q2ago,q2sep,q2oct,q2nov,q2dic])
q3f=np.array([q3ene,q3feb,q3mar,q3abr,q3may,q3jun,q3jul,q3ago,q3sep,q3oct,q3nov,q3dic])

In [13]:
#Obtener e imprimir los promedios de cada cuantil para su uso como precio representativo.
q1prom=np.mean(q1f)
q2prom=np.mean(q2f)
q3prom=np.mean(q3f)

print(q1prom)
print(q2prom)
print(q3prom)

603.949375
984.7041666666664
1501.4939583333332